*{
    font-family: cursive;
    box-sizing: border-box;
    text-decoration: none;
  }
  label{
    background: white;
    margin: -11px;
  }
  a{
    color: #636363;
  }
  a:hover{
    color: #a3a3a3;
    background: #505050;
    transition: background .9s;
    border-radius: 15px;
  }
  /*......................CLASS.....................*/
  input[type="radio"]{
    accent-color: rgb(124 201 124);
  }
  .input{
    border-radius: 8px;
    border-color: black;
    background: rgb(233, 233, 233);
    width: 96%;
    line-height: 3.0;
    border: none;
  }
  .input:hover{
    background: rgb(196, 196, 196);
  }
  .search{
    font-size: 15px;
    border-radius: 8px;
    border-color: black;
    background: rgb(233, 233, 233);
    line-height: 2.4;
    margin-left: 20px;
    border: none;
  }
  .search:hover{
    background: rgb(214, 214, 214);
  }
  .ab{
    margin-left: 25px;
  }
  .up{
    margin-left: 25px;
  }
  .in{
    margin-top: 20px;
  }
  .a-sign{
    padding: 10px;
    border: 1px solid;
    border-radius: 15px;
  }
  .body{
    background: rgb(124 201 124);
  }
  .form{
    margin-top: 95px;
    margin-left: 490px;
    border: 1px solid #636363;
    width: 100%;
    max-width: 366px;
    border-radius: 10px;
    padding: 15px;
    background: white;
  }
  .sign{
    margin: 133px;
    padding: 5px;
    border: 3px solid;
    border-radius: 15px;
  }
  .label{
    margin-bottom: 20px;
  }
  .label2{
    margin-bottom: 20px;
  }
  .submit{
    padding: 5px;
    background: #a3a3a3;
  }
  .submit:hover{
      background: #636363;
  }
  /*...............ID................*/
  #sign{
    background: rgb(124 201 124);
    float: left;
    overflow: hidden;
    padding: 25px;
    border-radius: 25px;
  
  }
  #name{
    margin: 10px;
  }
  #Lastname{
    margin: 10px;
  }
  #email{
    margin: 10px;
  }
  #password{ 
    margin: 10px;
  }
  #button{
    color: burlywood;
  }
#label-name{
    margin-top: 5px;
}